form.form-media-upload {
    text-align: center;
}

.btn {
    background-color: #242021;
}

.btn:hover {
    background-color: #242021;
}

div.modal {
    top: 15%;
    display: block !important;
    z-index: 1;
}

div.modal-content {
    padding: 10 0 !important;
    display: flex;
    justify-content: center;
}

div#open-camera {
    width: 350px;
    height: 350px;
}

div.camera-button {
    display: inline-block;
}

div.div-camera-anchor {
    margin-right: 10px;
}

div.div-camera-anchor, div.div-file-anchor {
    display: inline-block;
}

a.btn-flat {
    background-color: #b71c1c;
    color: white;
    margin-left: 30px !important;
}

a.btn-upload {
    margin-left: 30px !important;
}

div.footer-buttons {
    padding: 0 85px;
    display: flex;
    justify-content: center;
}

p.file-path-paragraph {
    margin: 1em 10em;
    border-bottom: 3px solid #242021;
}