.header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    height: auto;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.header-row {
    margin-bottom: unset;
    display: flex;
    align-items: center;
}